/* Common panel styles */
.panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  border-radius: 8px;
  margin: 16px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Common container styles */
.editorContainer {
  flex-grow: 1;
  position: relative;
  padding: 16px;
  background-color: var(--white);
  border-radius: 4px;
}.tabs {
  display: flex;
  margin-bottom: 1rem;
}

.tabButton {
  padding: 0.5rem 1rem;
  border: 1px solid var(--medium-gray);
  cursor: pointer;
  background-color: var(--light-gray);
  border-radius: 4px 4px 0 0;
  margin-right: 0.25rem;
}

.tabButton.active {
  background-color: var(--white);
  border-bottom: 1px solid transparent;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 1rem;
}

.formGroup label {
  display: block;
  margin-bottom: 0.5rem;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--medium-gray);
  border-radius: 4px;
}

.submitButton {
  padding: 0.75rem;
  border: none;
  background-color: var(--primary-blue);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 0px 10px 0;
}

.submitButton:hover {
  background-color: var(--primary-blue-hover);
}
